<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>资源名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback
                     [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" />
      <ng-template #nameErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入资源名称
        }
        @if (control.hasError('minLength')) {
          资源名称不能少于2个字符
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">资源标记</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="flag" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">备注</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="remarks" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">上级信息</nz-form-label>
    <nz-form-control [nzSpan]="12">
      {{ undefined !== parent ? parent.name : '无' }}
    </nz-form-control>
  </nz-form-item>
</form>
