<nz-tree nzAsyncData [nzData]="nodes"
         nzShowLine="false" nzShowIcon="false"
         (nzDblClick)="expandNode($event)"
         (nzExpandChange)="nzExpandChange($event)"
         [nzTreeTemplate]="nzTreeTemplate"
         (nzContextMenu)="openMenu($event, menu)"
>
</nz-tree>
<ng-template #nzTreeTemplate let-node>
  <span class="node-template">
    <span>
      @if (node.isLeaf) {
        <span nz-icon nzType="file"></span>
      } @else {
        <span nz-icon nzType="file-image" nzTheme="twotone"></span>
      }
    </span>
    <span class="title">{{ node.title }}</span>
    <span class="remark">{{ node.origin.remark }}</span>
  </span>
</ng-template>
<nz-dropdown-menu #menu="nzDropdownMenu" class="dropdown-menu">
  <ul nz-menu (contextmenu)="$event.preventDefault()">
    @if (null != selectedNode) {
      <li nz-menu-item>{{ selectedNode.title }}</li>
      <li nz-menu-divider></li>
      <li nz-menu-item>编辑</li>
      <li nz-menu-item (click)="toDelete()">删除</li>
      <li nz-menu-divider></li>
    } @else if (isResource()) {
      <li nz-menu-item (click)="toAddResource()">添加资源</li>
    }
    @if (isResource()) {
      <li nz-menu-item>添加动作</li>
      <li nz-menu-divider></li>
    }
    <li nz-menu-item (click)="refresh()">刷新</li>
  </ul>
</nz-dropdown-menu>
