<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>角色名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback
                     [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" />
      <ng-template #nameErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入角色名称
        }
        @if (control.hasError('minLength')) {
          角色名称不能少于2个字符
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
