:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  justify-content: right;
  align-items: center;
}

#wallpaper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*background-image: url('/assets/wallpaper.jfif');*/
  background-size: cover;
  opacity: 0;
  transition: opacity 3s cubic-bezier(0.33, 1, 0.68, 1);
}

.box {
  background: rgba(255, 255, 255, .3);
  width: 30vw;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 .5rem .125rem #000;
  backdrop-filter: blur(1rem);

  & > .logo {
    width: 4rem;
    height: 4rem;
    margin: .625rem 0;

    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    line-height: 4rem;
  }

  & > .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0;
  }

  & > .content {
    width: 80%;

    .login-form-margin {
      margin-bottom: 1rem;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
