:host {
  display: block;
  width: 100vw;
  height: 100vh;
  /*background-image: url('/assets/wallpaper.jfif');*/
  background-size: cover;
  overflow-x: hidden;
  background-position-x: -20vw;
}

.box {
  position: absolute;
  background-color: rgb(255 255 255 / 90%);
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem 0 rgb(0 0 0);
  backdrop-filter: blur(5px);

  & > .logo {
    width: 64px;
    height: 64px;
    margin: 10px 0;

    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    line-height: 64px;
  }

  & > .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0;
  }

  & > .content {
    width: 80%;

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
