<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzFor="password" [nzSpan]="7" nzRequired>原密码</nz-form-label>
    <nz-form-control [nzSpan]="17" nzHasFeedback
                     [nzErrorTip]="passwordErrorTpl">
      <input id="password" nz-input formControlName="password" type="password" placeholder="请输入原密码"/>
      <ng-template #passwordErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入当前帐号的密码
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="newPassword" [nzSpan]="7" nzRequired>新密码</nz-form-label>
    <nz-form-control [nzSpan]="17" nzHasFeedback
                     [nzErrorTip]="newPasswordErrorTpl">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input id="newPassword" nz-input formControlName="newPassword"
               [type]="passwordVisible() ? 'text' : 'password'" placeholder="请输入新密码"/>
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'" (click)="passwordVisible.set(!passwordVisible())"></i>
      </ng-template>
      <ng-template #newPasswordErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入新密码
        }
        @if (control.hasError('minlength')) {
          密码的长度不能少于6
        }
        @if (control.hasError('maxlength')) {
          帐号的长度不能超过255
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="repeat" [nzSpan]="7" nzRequired>重复新密码</nz-form-label>
    <nz-form-control [nzSpan]="17" nzHasFeedback [nzErrorTip]="repeatErrorTpl">
      <input id="repeat" nz-input formControlName="repeat" type="password" placeholder="请输入新密码"/>
      <ng-template #repeatErrorTpl let-control>
        @if (control.hasError('NotEquals')) {
          与新密码不匹配, 请确认
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
