<div class="condition">
  <form [formGroup]="formGroup">
    <nz-space>
      <nz-select *nzSpaceItem formControlName="role" style="width: 7rem">
        @for (item of roles; track item.id) {
          <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </nz-select>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" *nzSpaceItem>
        <input type="text" nz-input placeholder="按名称搜索" formControlName="name"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="onSearch()"
                [nzLoading]="loading()">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button nz-button nzType="primary" nzShape="circle" *nzSpaceItem title="新增用户"
              (click)="toAddUser()">
        <span nz-icon nzType="plus"></span>
      </button>
    </nz-space>
  </form>
</div>
<div class="body">
  <nz-table [nzData]="data()" nzFrontPagination="false"
            [nzLoading]="loading()" nzSize="small" [nzTotal]="total()"
            [(nzPageIndex)]="paging.pageNumber"
            [(nzPageSize)]="paging.pageSize"
            (nzPageSizeChange)="onSearch()"
            (nzPageIndexChange)="onSearch()">
    <thead>
    <tr>
      <th nzWidth="5rem">编号</th>
      <th>姓名</th>
      <th>角色</th>
      <th nzWidth="5rem">状态</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      @for (item of data(); track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.role.name }}</td>
          <td>
            @switch (item.status) {
              @case ('未确认') {
                <nz-badge nzStatus="warning"
                          [nzText]="item.status"></nz-badge>
              }
              @case ('正常') {
                <nz-badge nzStatus="success"
                          [nzText]="item.status"></nz-badge>
              }
              @case ('已禁用') {
                <nz-badge nzStatus="error"
                          [nzText]="item.status"></nz-badge>
              }
              @default {
                <nz-badge nzStatus="default"
                          [nzText]="item.status"></nz-badge>
              }
            }
          </td>
          <td>{{ item.createdAt | date: 'yyyy年MM月dd日 HH:mm:ss' }}</td>
          <td>
            <nz-space>
              @if (item.role.id !== 0) {
                <button *nzSpaceItem
                        nz-button nzType="link" nzSize="small"
                        nz-popconfirm nzPopconfirmTitle="是否确认重置该用户的密码?"
                        (nzOnConfirm)="restPassword(item)"
                >重置密码
                </button>
                @if ('正常' === item.status) {
                  <button *nzSpaceItem
                          nz-button nzType="link" nzSize="small"
                          nz-popconfirm nzPopconfirmTitle="是否确认禁用该用户?"
                          (nzOnConfirm)="enable(item, false)">禁用
                  </button>
                } @else if ('已禁用' === item.status) {
                  <button *nzSpaceItem
                          nz-button nzType="link" nzSize="small"
                          nz-popconfirm nzPopconfirmTitle="是否确认启用该用户?"
                          (nzOnConfirm)="enable(item, true)">启用
                  </button>
                }
              }
            </nz-space>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
