<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
    nzWidth="215px" nzBreakpoint="md" nzTheme="light">
    <div class="logo">
      <a routerLink="/">
        <img src="/favicon.ico" alt="logo">
        <h1>通用管理系统</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item
          routerLink="/">
        <i nz-icon nzType="fund" nzTheme="twotone"></i>
        <span>欢迎页面</span>
      </li>
      <li nz-submenu nzTitle="系统管理" nzIcon="setting" *appHasPermission="[ 'ROLE_管理员' ]">
        <ul>
          <li nz-menu-item
              routerLink="/system-resource-list">
            <i nz-icon nzType="team" nzTheme="outline"></i>
            <span>资源管理</span>
          </li>
          <li nz-menu-item
              routerLink="/system-role-list">
            <i nz-icon nzType="team" nzTheme="outline"></i>
            <span>角色管理</span>
          </li>
          <li nz-menu-item
              routerLink="/system-user-list">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span>用户管理</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <span class="user-info" *ngIf="userInfo">
          <nz-avatar [nzSize]="35" nzIcon="user"></nz-avatar>
          <span class="role">{{ userInfo.role.name }}</span>
          <span class="name" nz-dropdown
                [nzDropdownMenu]="menu">{{ userInfo.name }}</span>
        </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changePassword()">修改密码</li>
          <li nz-menu-item (click)="logout()">退出</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content [@subRouteAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
