@if (state.active) {
  @if (settings) {
    <div class="nprogress">
      <div class="bar" role="bar" [ngStyle]="state.style" [style.background-color]="settings.color">
        <div class="peg" [style.box-shadow]="'0 0 10px ' + settings.color + ', 0 0 5px ' + settings.color"></div>
      </div>
      @if (settings.showSpinner) {
        <div class="spinner" role="spinner">
          <div class="spinner-icon" [style.border-top-color]="settings.color" [style.border-left-color]="settings.color"></div>
        </div>
      }
    </div>
  }
}
