<div class="condition">
  <form [formGroup]="formGroup">
    <nz-space>
      <nz-select *nzSpaceItem formControlName="role" style="width: 7rem">
        <nz-option [nzValue]="-1" nzLabel="所有"></nz-option>
        <nz-option [nzValue]="1" nzLabel="管理员"></nz-option>
      </nz-select>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" *nzSpaceItem>
        <input type="text" nz-input placeholder="按名称搜索" formControlName="name" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="onSearch()" [nzLoading]="loading">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button nz-button nzType="primary" nzShape="circle" *nzSpaceItem title="新增用户" (click)="toAddUser()">
        <span nz-icon nzType="plus"></span>
      </button>
    </nz-space>
  </form>
</div>
<div class="body">
  <nz-table [nzData]="data" nzFrontPagination="false"
            [nzLoading]="loading | async" nzSize="small" [nzTotal]="total"
            [(nzPageIndex)]="paging.pageNumber"
            [(nzPageSize)]="paging.pageSize"
            (nzPageSizeChange)="onSearch()"
            (nzPageIndexChange)="onSearch()">
    <thead>
    <tr>
      <th>编号</th>
      <th>姓名</th>
      <th>角色</th>
      <th>状态</th>
      <th>联系号码</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.role.name }}</td>
      <td>
        <ng-container [ngSwitch]="item.status">
          <nz-badge *ngSwitchCase="'未确认'" nzStatus="warning" [nzText]="item.status"></nz-badge>
          <nz-badge *ngSwitchCase="'正常'" nzStatus="success" [nzText]="item.status"></nz-badge>
          <nz-badge *ngSwitchCase="'已禁用'" nzStatus="error" [nzText]="item.status"></nz-badge>
          <nz-badge *ngSwitchDefault nzStatus="default" [nzText]="item.status"></nz-badge>
        </ng-container>
      </td>
      <td>{{ item.contactNumber ?? '无' }}</td>
      <td>{{ item.createdAt | date: 'yyyy年MM月dd日 HH:mm:ss' }}</td>
      <td>
        <nz-space>
          <ng-container *ngIf="item.role.id !== 0">
            <button  *nzSpaceItem
              nz-button nzType="link" nzSize="small"
              nz-popconfirm nzPopconfirmTitle="是否确认重置该用户的密码?"
              (nzOnConfirm)="restPassword(item)"
            >重置密码</button>
            <ng-container *ngIf="'正常' === item.status">
              <button *nzSpaceItem
                nz-button nzType="link" nzSize="small"
                nz-popconfirm nzPopconfirmTitle="是否确认禁用该用户?"
                (nzOnConfirm)="disable(item)">禁用</button>
            </ng-container>
            <ng-container *ngIf="'已禁用' === item.status">
              <button *nzSpaceItem
                      nz-button nzType="link" nzSize="small"
                      nz-popconfirm nzPopconfirmTitle="是否确认启用该用户?"
                      (nzOnConfirm)="enable(item)">启用</button>
            </ng-container>
          </ng-container>
        </nz-space>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
